table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
}

td {
    text-align: center;
    padding: 10px;
}

tr:not(:first-child) {
    border: 2px solid #dddddd;
    font-weight: normal;
}

tr:not(:first-child) td {
    border: 2px solid #dddddd;
    font-weight: normal;
}

tr:nth-child(1) {
    background-color: black;
    color: white;
}


tr:nth-child(2) {
    background-color: #d6923d
}

tr:nth-child(3) {
    background-color: #008001
}

tr:nth-child(4) {
    background-color: #005792
}

tr:nth-child(5) {
    background-color: #ffff05
}

tr:nth-child(6) {
    background-color: #c12a2e
}

tr:nth-child(7) {
    background-color: #8175b7
}

tr:nth-child(8) td {
    text-align: center;
}

tr:nth-child(8) a {
    color: blue;
}

td img {
    height: 120px;
    width: 120px;
    border-radius: 15px;
    display: block;
    margin: auto;
}